@import "tailwindcss";

/* Font Definition */
@font-face {
	font-family: "Old Standard";
	src: url("/fonts/OldStandardTT-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Old Standard";
	src: url("/fonts/OldStandardTT-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Minangkabau";
	src: url("/fonts/Minangkabau.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--paper-white: #f8f8f6;
	--midnight: #1f1f1e;
	--old-standard: "Old Standard", serif;
	--minangkabau: "Minangkabau", serif;
}

@theme inline {
	--color-background: var(--paper-white);
	--color-foreground: var(--midnight);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-old-standard: var(--old-standard);
	--font-minangkabau: var(--minangkabau);
}

@media (prefers-color-scheme: dark) {
	@theme inline {
		--color-background: var(--midnight);
		--color-foreground: var(--paper-white);
	}
}

body {
	background: var(--color-background);
	color: var(--color-foreground);
	font-family: "Old Standard", Helvetica, sans-serif;
}
